#history-container {
  height: 92vh;
}
#history-container > h3 {
  text-align: center;
  font-weight: bold;
}
.history-item {
  color: greenyellow;
  border: 1px solid #0f0f0f;
  cursor: pointer;
  background-color: #313131;
  line-height: 3em;
}
.history-item__method {
  margin-right: 10px;
  color: #30d396;
  font-weight: "bold";
}
