.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#left-side {
  background: red;
  width: 100%;
  height: 100vh;
}

#right-side {
  display: grid;
  background: greenyellow;
  grid-template-columns: 1fr 3fr 1fr;
  gap:1em;
}
#history {
  background: hotpink;
  height: 100vh;
}
/* #right-side > div:nth-child(odd) {
  background: white;
} */
#right-side > div {
  background: blue;
}
#parameter-container {
  grid-column-start: 1;
  grid-column-end: 5;
}
#response-container {
  grid-column-start:1;
  grid-column-end: 5;
}